body {
    background-color: #f1cebe; /* Color de fondo claro */
    color: #faf6f6; /* Color de texto oscuro para buen contraste */
    line-height: 1.6; /* Mejor legibilidad */
}
.titulo {
    text-align: center; /* Centrar el subtítulo */
    font-family: "playfair display", serif; /* Fuente elegante */
    font-size: 36px; /* Tamaño de fuente grande */
    color: #f36e6ee8; /* Color del título */
    font-size: 36px; /* Tamaño de fuente grande */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar */
}
.subtitulo {
    
    font-family: "fuente elegante", serif; /* Fuente elegante */
    color: #f36e6ee8; /* Color del subtítulo */
    font-size: 28px; /* Tamaño de fuente mediano */
    margin-top: 15px; /* Espacio superior */
    margin-bottom: 15px; /* Espacio inferior */
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar */
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre las imágenes */
    justify-content: center; /* Centrar las imágenes */
}
.imagene-link {
    margin: 10px; /* Espacio alrededor de los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}
    .galeria a img {
        width: 300px; /* Ancho de las imágenes */
    max-width: 0%; /* Ancho máximo de las imágenes */
    height: 200px; /* Altura de las imágenes */
    object-fit: cover;/* Bordes redondeados */
    margin: 10px; /* Espacio alrededor de las imágenes */
    }
    .imagene-link img:hover {
        transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
        transition: transform 0.3s; /* Transición suave */
    }